.menu-toolbar {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
}